@model WebApplication.Web.Models.Ingredient

@{
    ViewData["Title"] = "AddIngredient";
}

<h2>Add Ingredients</h2>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddIngredient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Add New Ingredient(s)</label><br />
                <span>If adding multiple ingredients, separate ingredient names with a semi-colon and a space (i.e., "; ").</span>
                <input name="NewIngredient" class="form-control" />
            </div>
           
            <div class="form-group">
                <button type="submit" name="NewIngredient" class="btn btn-success" id="addIngredientButton" formaction="AddIngredient">Add Ingredient</button>
            </div>
        </form>
    </div>
</div>


