@model IEnumerable<WebApplication.Web.Models.Recipe>

@{
    ViewData["Title"] = "AllRecipes";
}

<h2>Recipes</h2>


<table class="table">
    <thead>
        <tr>            
            <th>
                Recipe @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Recipe @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>         
            <td>
                <button>Add To My Recipes</button>
            </td>
        </tr>
}
    </tbody>
</table>
