@model IEnumerable<WebApplication.Web.Models.MealPlan>

@{
    ViewData["Title"] = "AllMealPlans";
}

<h2>All Meal Plans</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
   
            <td>
                <a asp-controller="Meal" asp-action="MealPlanDetail" asp-route-id="@item.MealPlanId">@Html.DisplayFor(modelItem => item.Name)</a>
</td>
            <td>
                <form asp-controller="Meal" asp-action="AddMealPlanToUser" asp-route-mealPlanId="@item.MealPlanId">
                    <input type="submit" value="Add To My Meal Plans" class="btn btn-success" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
