@model IEnumerable<WebApplication.Web.Models.MealPlan>

@{
    ViewData["Title"] = "MyMealPlans";
}

<h2>My Meal Plans</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
