@model IEnumerable<WebApplication.Web.Models.MealPlan>

@{
    ViewData["Title"] = "MyMealPlans";
}

<h2>My Meal Plans</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-controller="Meal" asp-action="MealPlanDetail" asp-route-id="@item.MealPlanId" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
