@model User
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Welcome @Model.Username</p>

<a asp-controller="Meal" asp-action="CreatePlan">Create a Meal Plan</a>
<br />
<a asp-controller="Meal" asp-action="CreateMeal">Create a Meal</a>
<br />
<a asp-controller="Meal" asp-action="AllMealPlans">All Meal Plans</a>
<br />
<a asp-controller="Meal" asp-action="MyMealPlans">My Meal Plans</a>
<br />
<a asp-controller="Meal" asp-action="MealPlanDetail">Meal Plan Details</a>